/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

_ide_helper_models.php
_ide_helper.php
ide-helper.php
.phpstorm.meta.php
.sass-cache
.tmp
.DS_Store
Thumbs.db

# storage files
storage/app/upload/shops/*
storage/app/upload/contents/data/*
storage/app/upload/contents/samples/*
storage/app/upload/contents/thumbnails/*
storage/debug/*
storage/app/upload/import/chunks/*
storage/app/upload/import/content_zip/*.zip
storage/app/upload/import/content_zip/importing/*
storage/app/upload/import/content_zip/imported/*
/**/cdn/
public-admin/upload-contents/*
storage/app/orderprocess/crossone/tmp/.gitignore

#--------------------------------------
# Not Ignore
#--------------------------------------
!.gitkeep
!storage/app/upload/contents/thumbnails/.htaccess
!storage/app/upload/shops/.htaccess